---

title: Hello There!
layout: home
author_profile: true
excerpt: "This is Asif Haider, Welcome to my official website! Explore the blogs written and projects done by me."
header:
  overlay_image: /assets/img/home.jpg

feature_row:
  - image_path: /assets/img/github.jpg
    title: "My Projects"
    excerpt: "Checkout the projects in detail I have done so far!"
    url: "https://asifhaider.github.io/home/_pages/portfolio/"
    btn_label: "Projects"
    btn_class: "btn--inverse"
  - image_path: /assets/img/gallery.jpg
    title: "My Gallery"
    excerpt: "Jump to see the photos of my friends and mine!"
    url: "https://asifhaider.github.io/home/_pages/gallery/"
    btn_label: "Gallery"
    btn_class: "btn--inverse"
  - image_path: /assets/img/award.jpg
    title: "My Achievements"
    excerpt: "Detailed list of various prizes, awards of mine from Academic and Extra-curricular activities!"
    btn_label: "Achievements"
    btn_class: "btn--inverse"
    url: "https://asifhaider.github.io/home/_pages/achievements/"


---
<table align = "center" border = "5">
<tr>

<h2 align = "center">
	فَبِأَيِّ آلَاءِ رَبِّكُمَا تُكَذِّبَانِ
</h2>
<h4 align="center">
	<i>
		"So which of the favors of your Lord would you deny?"
	</i>
</h4>
<h5 align="right">
	-Surah Ar-Rahman, Al-Quran (55:25)
</h5>

</tr>
</table>

<br>
<h1 align="center">
	Overview
</h1>

<br>

{% include feature_row %}

<br>

<h1 align="center">
	My Blog
</h1>

<!-- <h1 align = "center">
	Blogs
</h1>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<div class="entries-{{ page.entries_layout | default: 'list' }}">
  {% for post in posts %}
    {% include archive-single.html type=page.entries_layout %}
  {% endfor %}
</div> -->